<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title><%= settings.title %></title>
  <%- locals.bundle.vendor.styles %>
  <%- locals.bundle.main.styles %>
</head>
<body>